.container {
  display: flex;
  flex-direction: column;
}

.twoColumnWrapper {
  display: flex;
}

.sidebarColumn {
  display: flex;
  text-align: center;
}

.productsColumn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}
