.buttonAutorization {
  background-color: #009688;
  border: none;
  color: #ffffff;
  padding: 10px 16px;
  min-width: 200px;
  font-size: 18px;
}

.buttonAutorization:hover {
  background-color: #ffffff;
  color: #009688;
}
