{
  "extends": [
      "react-app",
      "react-app/jest"
    ],
    "rules": {
      "no-unused-vars": "warn",
      "prefer-const": "warn",
      "no-console": "warn",
      "quotes": ["warn", "single"],
      "indent": ["warn", 2],
      "max-len": ["warn", {"code": 120}]
    }
}