.footerlist {
  list-style-type: none;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.footerlist:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: #009485; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.footerlist:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: #f06600; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}

.footerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #009485;
  font-size: 1rem;
  gap: 1px;
}
.footerlist:hover {
  color: #f06600;
}

.span {
  display: block;
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.footer {
  width: 100%;
  max-width: 850px;
  margin: auto;
  height: 80px;
  background: #fff;
  color: #009688;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.law {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  min-width: 180px;
  text-align: center;
}

.list {
  padding-inline-start: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 200px;
  font-size: 1rem;
  gap: 20px;
}

.itel {
  background-image: url('./tel.png');
}

.iloc {
  background-image: url('./loc.png');
}

.imail {
  background-image: url('./mail.png');
}
