.buttonAutorization {
  background-color: #009688;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 18px;
}

.buttonAutorization:hover,
.buttonAutorization:focus {
  background-color: #ffffff;
  color: #009688;
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}

.buttonAutorization:not(:last-of-type) {
  margin-right: 20px;
}
