.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0px;
  background-color: #f6f6f6;
}

.link {
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: #333;
}

.link:hover {
  background-color: #f8ddd7;
}

.link_activ {
  color: #fff;
  background-color: #fc9b27;
}
