.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  color: #ffffff;
  background-color: #009688;
  padding: 8px 10px;
}

.link:hover,
.link:focus {
  background-color: #ee971c;
}

/* .link_activ {
  color: #fff;
  background-color: #fc9b27;
} */

.userImg {
  max-width: 30px;
  max-height: 30px;
  box-sizing: border-box;
  margin: 0px;
}
