.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  color: #ffffff;
  background-color: #009688;
  padding: 8px 10px;
}

.linkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #009688;
  padding: 7px 10px;
}

.iconsvg {
  max-height: 20px;
}

.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 32px;
  position: relative;
}

.link:hover,
.link:focus,
.linkIcon:hover,
.linkIcon:focus {
  background-color: #ee971c;
}

.products {
  position: absolute;
  background-color: #ee971c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  top: 0;
  transform: translateX(20px) translateY(-20px);
}
